<!DOCTYPE html>
<html>
<head>
  <title>Evanapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<html>

<body>

<div class="container">

<header>
  
  <h1>StreamWorthy</h1>
  
    </header>
    
<nav class="topnav">
  <ul>
  <li><a href="/sports_league">Sports</a></li>
  <li>Movies</li>
  <li>TV</li>
  </ul>
</nav>



<%= yield %>


</div>

</body>

</html>

