<!DOCTYPE html>
<html>
<head>
  <title>Evanapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<html>
<header>
  
  <h1>StreamWorthy</h1>
  
    </header>
    
<nav>
  <li>Sports</li>
  <li>Movies</li>
  <li>TV</li>
</nav>

<body>

<%= yield %>

</body>

